/*******Custom Propite******/
:root {
  --Dark-Blue: hsl(233, 26%, 24%);
  --Lime-Green: hsl(136, 65%, 51%);
  --Bright-Cyan: hsl(192, 70%, 51%);

  --Grayish-Blue: hsl(233, 8%, 62%);
  --Light-Grayish-Blue: hsl(220, 16%, 96%);
  --Very-Light-Gray: hsl(0, 0%, 98%);
  --White: hsl(0, 0%, 100%);

  --translate-filters-slider: 0;
  --filters-container-height: 3.8rem;
  --filters-wrapper-opacity: 1;
  --font-size: 18px;
  --font: "Public Sans" "sans-serif";
  --max-whit: 1440px;
}

/*******Reset********/
html {
  box-sizing: border-box;
  font-family: var(--font);
  font-size: 18px;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}
body {
  margin: 0;
  overflow-x: hidden;
}

a {
  color: var(--Grayish-Blue);
  transition: all 0.5s ease-out;
}

a:hover {
  opacity: 0.75;
}
h1 {
  margin: 0;
  font-size: 2rem;
}
h2 {
  margin: 0;
  font-size: 1.5rem;
}
h3 {
  margin: 0;
  font-size: 1.25rem;
}
h4 {
  margin: 0;
  font-size: 1rem;
}
h5 {
  margin: 0;
  font-size: 0.85rem;
}
h6 {
  margin: 0;
  font-size: 0.5rem;
}
img {
  max-width: 100%;
  height: auto;
}
p {
  line-height: 1.6;
}

/*****Componentes*****/
/******Hero-img*******/
.hero-img-dee {
  background-repeat: no-repeat;
  background-image: url("./images/bg-intro-mobile.svg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.hero-img-insa {
  display: flex;
  width: 100%;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/********menu-header*********/
.menu-btn {
  outline: thin solid var(--white);
  border: 0;
  cursor: pointer;
  background-color: var(--White);
}
.menu-btn svg {
  fill: var(--Grayish-Blue);
}
.menu-header {
  position: fixed;

  top: 4rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--White);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease;
  margin: 1rem;
}
.menu-header.is-active {
  opacity: 1;
  pointer-events: auto;
}
.menu-header a {
  padding: 0.8rem;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;

  color: var(--Grayish-Blue);
}
.menu-header a:hover {
  color: var(--Dark-Blue);
  background-color: var(--Grayish-Blue);
}
/*******Utilites******/
.box-shadow-1 {
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.25);
}
.btn-invite {
  border-radius: 1.5rem;
  font-size: 18px;
  padding: 0.4rem;
  display: none;
  width: 180px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: var(--White);
  background-color: var(--Lime-Green);
  padding-left: 00.4rem;
}
.btn-invite:hover {
  cursor: pointer;
  opacity: 0.8;
}
.btn-invite-home {
  border-radius: 1.5rem;
  font-size: 18px;
  padding: 0.4rem;
  display: inline-block;
  width: 180px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: var(--White);
  background-color: var(--Lime-Green);
  padding-left: 00.4rem;
}
.btn-invite-home:hover {
  cursor: pointer;
  opacity: 0.8;
}

.conteiner {
  margin-left: auto;
  margin-right: auto;
  max-width: 1440px;
}

.none {
  display: none;
}

/*******syte site*******/
.header-ladig-page {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding: 1rem;
  height: 4rem;
  background-color: var(--White);
  z-index: 999;
}
.header-ladig-page > .conteiner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home-text {
  display: flex;
  flex-direction: column;
  margin: 0 1rem;
  text-align: center;
  align-items: center;
}
.home-text h1 {
  color: var(--Dark-Blue);
}
.home-text p {
  color: var(--Grayish-Blue);
}
.teg-domain {
  display: flex;
  text-align: center;
  justify-content: center;
}
.teg-domain img {
  width: 3rem;
  height: auto;
  margin: 1rem;
}
.teg-domain p {
  font-size: 24px;
}

.logo svg {
  font-size: 2rem;

  margin: 1rem;
}

@media screen and (min-width: 780px) {
}
@media screen and (min-width: 1024px) {
  .header-ladig-page {
    position: sticky;
    top: 0;
    padding: 0.5rem;
    height: calc(4rem-0.5rem);
  }
  .menu-btn {
    display: none;
  }
  .menu-header {
    position: static;
    width: auto;
    flex-direction: row;
    opacity: 1;
    pointer-events: auto;
  }
  .menu-header a {
    padding: 0 1rem;
  }
  .menu-header a:last-child {
    padding-right: 0;
  }
  .menu-header a:hover {
    background-color: transparent;
  }
  .btn-invite {
    display: inline-block;
  }
  .abaut {
    display: flex;
    flex-direction: row-reverse;
  }
  .home-text {
    margin: 4rem 0 0 2rem;
    width: 45%;
  }
  .hero-img-dee {
    background-image: url("./images/bg-intro-desktop.svg");
    margin: 0 2rem;
    transform: scaleX(-1);
  }
  .hero-img-insa {
    transform: scaleX(-1);
    margin-bottom: 0;
    margin-top: 1rem;
  }
}
