/*******Custom Propite******/
:root {
  --Dark-Blue: hsl(233, 26%, 24%);
  --Lime-Green: hsl(136, 65%, 51%);
  --Bright-Cyan: hsl(192, 70%, 51%);

  --Grayish-Blue: hsl(233, 8%, 62%);
  --Light-Grayish-Blue: hsl(220, 16%, 96%);
  --Very-Light-Gray: hsl(0, 0%, 98%);
  --White: hsl(0, 0%, 100%);

  --translate-filters-slider: 0;
  --filters-container-height: 3.8rem;
  --filters-wrapper-opacity: 1;
  --font-size: 18px;
  --font: "Public Sans" "sans-serif";
  --max-whit: 1440px;
}

/****************Reset-style*******************/
html {
  box-sizing: border-box;
  font-family: var(--font);
  font-size: 18px;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}
body {
  margin: 0;
  overflow-x: hidden;
}

a {
  color: var(--Grayish-Blue);
  transition: all 0.5s ease-out;
}

a:hover {
  opacity: 0.75;
}
h1 {
  margin: 0;
  font-size: 2rem;
}
h2 {
  margin: 0;
  font-size: 1.5rem;
}
h3 {
  margin: 0;
  font-size: 1.25rem;
}
h4 {
  margin: 0;
  font-size: 1rem;
}
h5 {
  margin: 0;
  font-size: 0.85rem;
}
h6 {
  margin: 0;
  font-size: 0.5rem;
}
img {
  max-width: 100%;
  height: auto;
}
p {
  line-height: 1.6;
}

/***************Componentes-site-style*************/
/*******************Hero-img***********************/
.hero-img-dee {
  background-repeat: no-repeat;
  background-image: url("./images/bg-intro-mobile.svg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.hero-img-insa {
  display: flex;
  width: 100%;
  min-height: 100vh;
  justify-content: center;
}

/**************************menu-header*************************/
.menu-btn {
  outline: thin solid var(--white);
  border: 0;
  cursor: pointer;
  background-color: var(--White);
}
.menu-btn svg {
  fill: var(--Grayish-Blue);
}
.menu-header {
  position: fixed;

  top: 4rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--White);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease;
  margin: 1rem;
}
.menu-header.is-active {
  opacity: 1;
  pointer-events: auto;
}
.menu-header a {
  padding: 0.8rem;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;

  color: var(--Grayish-Blue);
}
.menu-header a:hover {
  color: var(--Dark-Blue);
  background-color: var(--Grayish-Blue);
}
/******************botton-requier-invite**********************/
.btn-invite {
  border-radius: 1.5rem;
  font-size: 18px;
  padding: 0.4rem;
  display: none;
  width: 180px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: var(--White);
  background-color: var(--Lime-Green);
  padding-left: 00.4rem;
}
.btn-invite:hover {
  cursor: pointer;
  opacity: 0.8;
}
.btn-invite-home {
  border-radius: 1.5rem;
  font-size: 18px;
  padding: 0.4rem;
  display: inline-block;
  width: 180px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: var(--White);
  background-color: var(--Lime-Green);
  padding-left: 00.4rem;
}
.btn-invite-home:hover {
  cursor: pointer;
  opacity: 0.8;
}

/*******Utilites******/
.box-shadow-1 {
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.25);
}

.conteiner {
  margin-left: auto;
  margin-right: auto;
  max-width: 1440px;
}

.none {
  display: none;
}

/***********************section-abaut*********************/
.abaut {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 1rem 0.5rem;
  padding: 1rem;
}
.abaut h2,
h3 {
  color: var(--Dark-Blue);
}
.abaut p {
  color: var(--Grayish-Blue);
}
.abaut-text {
  margin: 0.3rem auto;
  width: 100%;
  padding: 1rem;
  background-color: var(--Light-Grayish-Blue);
}

.abaut-text svg {
  margin: 0.7rem auto;
}
.abaut-text h3 {
  margin: 0.7rem auto;
}
/***********************section-blog***********************/
.blog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem 0.5rem;
}
.blog h2 {
  text-align: center;
  margin: 1rem;
  margin-bottom: 0.2rem;
  font-size: 2.3rem;
  padding: 1rem;
  color: var(--Dark-Blue);
}
.blog img {
  border-radius: 0.2rem;
}
.blog-article {
  padding: 1rem;
  text-align: left;
}
.blog-article h5 {
  color: var(--Grayish-Blue);
  margin: auto 0.7rem;
  padding: 0.5rem;
}
.blog-article h3 {
  color: var(--Dark-Blue);
  margin: auto 0.7rem;
  padding: 0.5rem;
}
.blog-article a {
  color: var(--Grayish-Blue);
  margin: 0.5rem;
  text-decoration: none;
  padding: 10px 50px 30px 0;
  font-size: 16px;
  text-align: left;
}
/***********************section-contact*************************/

.contact {
  background-color: var(--Dark-Blue);
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 8rem;
  margin: 1.5rem 0 0 0;
  padding: 1rem;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.logo-contact {
  width: 100%;
  height: auto;
  margin: 1rem;
}
.social-contact {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 60%;

  padding: 1rem;
}
.social-contact a {
  text-decoration: none;
}
/************************section-header**************************/
.header-ladig-page {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding: 1rem;
  height: 4rem;
  background-color: var(--White);
  z-index: 999;
}
.header-ladig-page > .conteiner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /***********************section-home*****************/
}
.home-text {
  display: flex;
  flex-direction: column;
  margin: 3rem 4rem 8rem 4rem;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.home-text h1 {
  color: var(--Dark-Blue);
}
.home-text p {
  color: var(--Grayish-Blue);
}

/************/
.teg-domain {
  display: flex;
  text-align: center;
  justify-content: center;
}
.teg-domain img {
  width: 3rem;
  height: auto;
  margin: 1rem;
}
.teg-domain p {
  font-size: 24px;
}

.logo svg {
  font-size: 2rem;

  margin: 1rem;
}

@media screen and (min-width: 780px) {
}
@media screen and (min-width: 1024px) {
  /*****************section-header********************/
  .header-ladig-page {
    position: sticky;
    top: 0;
    padding: 0.5rem;
    height: calc(4rem-0.5rem);
  }
  .menu-btn {
    display: none;
  }
  .menu-header {
    position: static;
    width: auto;
    flex-direction: row;
    opacity: 1;
    pointer-events: auto;
  }
  .menu-header a {
    padding: 0 1rem;
  }
  .menu-header a:last-child {
    padding-right: 0;
  }
  .menu-header a:hover {
    background-color: transparent;
  }
  .btn-invite {
    display: inline-block;
  }
  /***********************section-home*****************/

  .home {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    margin: 0 1rem;
  }
  .home-text {
    margin: 4rem 0 0 2rem;
    width: 45%;
  }
  .hero-img-dee {
    background-image: url("./images/bg-intro-desktop.svg");
    margin: 0 2rem;
    background-position: right;
    transform: scaleX(-1);
  }
  .hero-img-insa {
    transform: scaleX(-1);
    margin-bottom: 0;
    margin-top: 1rem;
  }
  /***********************section-abaut*********************/
  .abaut {
    display: grid;
    grid-gap: 12px;
    grid-template-rows: 8rem 2fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .abaut-title {
    grid-column: 1/5;
    text-align: left;
    width: 100%;
    height: auto;
    margin: 1rem auto;
  }
  .abaut-title p {
    width: 60%;
  }
  .abaut-text {
    text-align: left;
    height: 100%;
  }
  /*******************section-blog*******************/
  .blog {
    display: grid;

    grid-template-rows: 8rem 2fr;
    grid-template-columns: repeat(4, 1fr);
  }
  .blog h2 {
    grid-column: 1 / span 5;
    text-align: left;
    width: 100%;
    height: auto;
    margin: 1rem auto;
  }
  .blog-article {
    height: 100%;
    margin: 1rem 0.2rem;
  }
  .blog h3 {
    font-size: 1rem;
    text-align: left;
  }
  .blog img {
    width: 100%;
    height: 50%;
    margin: 0;
    padding: 0;
  }
}
